*{
    margin: 0;
    padding: 0;
}

.charts-container{
    display: flex;
    flex-direction: row;
    height:100%;
    width:100%;
}

.chart-container{
    position: relative;
    height:100vh;
    width:50%;
}

.button{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    padding: 1em 0em;
}

@media(max-width: 1080px){
    .charts-container{
        flex-direction: column;
        width:100%;
        height: auto;
    }

    .chart-container{
        height:50%;
        width:90%;
    }
}